.getirslidelogo {
  
    z-index: 2;
    margin-top: 10%;
    margin-left: 16%;
}

.getirslideimg{
    
    
}

.bg-img {
    &_1 {
     background-image: url("https://getir.com/_next/static/images/getir-mainpage-4-1751ad2d8fb42a88742d6751938da7e7.jpg");
    }
    &_2 {
        background-image: url("https://getir.com/_next/static/images/getir-mainpage-1-757eca6a46304def60cabce74d3f20a2.jpg");
    }
    
}



